.table {
  border-collapse: collapse;
  width: "100%";
}

.table td {
  margin-top: 0.25rem;
  border-bottom: 0.25rem solid white;
}

.leafRow:nth-child(even) {
  background-color: #e4cfd3;
}

.dialog {
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
